/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body & overall layout */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: rgba(0,0,0,1);
    background:rgba(20,20,20,1);
    overflow-x: hidden;
    color:rgba(100,100,100,1);
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    
}
nav{
    position: fixed!important;
    top:0;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 10vh;
    /* background: transparent; */
    /* background:rgba(20,20,20,1); */
    z-index: 10;
    transition: .3s ease;
}
.logo{
    position: absolute;
    left:5%;
    top:50%;
    transform: translateY(-50%);
    color:white;
    text-align: left;
    line-height: .5;
}
.logo h1{
    font-family: 'Cinzel',serif;
    font-weight: 400;
}
.logo p{
    font-family: 'Montserrat',sans-serif;
    font-size: .8rem;
    font-weight: 200!important;
    padding-left:.1rem;
}

nav .socials{
    
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    position: absolute;
    right:5%;
    top:50%;
    transform: translateY(-50%);
    width: 125px;

}

.socials a{
    text-decoration: none;
    color:white;
}
 nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

 nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: .9rem;
}

 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
 a,.socials i{
    transition: .3s ease;
}
.nav-links a:hover,.socials i:hover{
color:#fbd672;
}
.nav-links a.active{
    color:#fbd672;
}
/* hero */ 

.swiper {
    width: 100%;
    height: 100%;
    /* filter:grayscale(.2); */
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .swiper-button-prev,.swiper-button-next{
    color:rgba(250,250,250,1);
    z-index: 11;
  }
  .swiper-pagination-bullet{
    background: white!important;
  }
#hero {
    /* padding: 20px 0; */
    position: relative;
    width:100%;
    height: 100vh;
    color:white;
    display: grid;
    place-items:center;
}

#hero video{
    position: absolute;
    width:100%;
    height: 100%;
    left:0;
    top:0;
    object-fit: cover;
    transition: 1s ease;
    opacity: 0;
}
#hero video.active{
    opacity: 1;
    animation: colour 3.5s forwards 1 ease;
}
section h1{
    font-family: 'Cinzel',serif;
    font-size: 5rem;
    font-weight: 400;
    width:100%;
    text-align: center;
}
.hero-heading {
    font-size: 5em;
    font-weight: 400;
    font-family: 'Cinzel' , serif;
    scale: 0;
    transition: .8s ease;
}
.hero-heading.active{
    /* position: absolute; */
    /* top: 50%; */
    opacity: 0;
    scale: 1;
}
#hero h3{
    position: absolute;
    mix-blend-mode: difference;
    bottom:38%;
    text-align: center;
    opacity: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    transition: .8s ease;
}
.hero-heading.active, #hero h3.active{
    /* left: 50%; */
    scale: 1;
    opacity: 1!important;
}

#hero p {
    font-size: 1.5em;
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
}
#hero img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* Section Styles */
section {
    padding: 50px 5%;
    width:100%;
    height:100vh;
    background: rgba(20,20,20,1)!important;
    color:rgba(190,190,190,1);
    position: relative;
}

section h2 {
    margin-bottom: 20px;
    color:#fbd672;
    /* color:teal; */
    font-size: 1.5rem;
    /* font-family: 'Cinzel',serif; */
    font-family: 'Montserrat',sans-serif;
}
section h3{
    color:white;
    color:rgba(220, 220, 220, 1);
    font-family: 'Cinzel',serif;
    font-size: 2.5rem;
    font-weight: 400;
}

section p{
    font-family: 'Montserrat',sans-serif;
}
#biography {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#biography p{
    line-height: 1.5;
    margin:5px auto;
    width:80%;
}
.left-holder ,.right-holder{
    width:100%;
    height:80%;
    margin: auto;
}
.left-holder h3{
    width: 70%;
    margin-top:50px;
    line-height: 1.3;
}

.right-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
.right-holder span{
    width:120px;
    margin: 20px auto;
}
.right-holder span button,button{
    border-radius: 20px;
}

/* shows section */

#shows ul {
    list-style-type: none;
}

#shows ul li {
    margin-bottom: 10px;
}
.shows-wrapper{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.shows-tabs{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    gap:10px;
    grid-template-columns: repeat(3,1fr);
}
.shows-tabs img{
    width:350px;
    height: 200px;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 5px ;
    border: .1px solid black;
    object-fit: cover;
    box-shadow: 1px 1px .5rem black;
}
.shows-tabs img:hover{
transform: scale(1.05);
border: 3px solid rgba(150,150,150,1);
}
.shows-tabs.hide{
    display: none;
}
.shows-list{
    width: 20%;
}
.shows-list-select{
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    transition: .3s ease;
    font-weight: 500;
}
.shows-list-select.active{
    color:#fbd672;
    font-weight: 800;
}
.shows-list-select:hover{
    color:#fbd672;
}
.shows-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
}
.shows-gallery h4{
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    margin: 10px auto 50px;
}


button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
.lightbox{
    display: none;
    width: 100%;
    height: 100vh;
    position: relative;
}
.lightbox.active{
    display: block;
    position: fixed;
    left:0;
    top:0;
    z-index: 12;
    background:rgba(0,0,0,.9);
}
.arrow {
    border: solid #fbd672;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top:50%;
    cursor: pointer;
  }
  
  .right {
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transform: rotate(-45deg);
    right:5%;
    pointer-events: all;
  }
  
  .left {
    transform: rotate(135deg) translateY(-50%);
    -webkit-transform: rotate(135deg);
    left:5%;
    pointer-events: all;
  }
  .left.hide,.right.hide{
    opacity: 0;
    pointer-events: none;
  }
.lightbox-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap:20px;
    padding:1rem;
}
.lightbox-img-holder{
    width:70%;
    height:80%;
    position: relative;
    margin-top:30px;
}
.lightbox-img-holder img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .3s ease;
    opacity: 1;
}

.lightbox-img-holder img.fade{
opacity: 0;
}

.close {
    position: absolute;
    right:5%;
    top:5%;
    cursor: pointer;
}
.close i{
    font-size: 2rem;
}
/* Awards section */

.awards-wrapper h3{
    color:#fbd672;
    text-align: center;
    text-shadow: 0px 0px .5rem yellow;
}

.awards-wrapper h4, .awards-wrapper h5{
    font-family: 'Montserrat',sans-serif;
}
.awards-wrapper h4{
    font-weight: 500;
    font-size: 1.2rem;
    width:50%;
}
.awards-wrapper h5{
    font-weight: 400;
    font-size: 1.1rem;
    color:rgba(150,150,150,1);
    font-style: italic;
}
.awards-wrapper{
    display: grid;
    width:100%;
    /* height: 90%; */
    place-items:center;
    grid-template-columns: repeat(1,1fr);
}
.award{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    height: 200px;
    width: 100%;
    border-top: 1px solid rgba(150,150,150,1);
    /* border-bottom: 1px solid rgba(150,150,150,1); */
    padding:.5rem 0;
    text-align: center;
}
/* .award > *{
    margin: 10px 0;
} */
.award > :first-child{
    /* align-self: flex-start!important; */
}
/* Footer */
footer {
    background-color:rgba(20,20,20,1);
    color: white;
    text-align: center;
    padding: 30px 0;
    width:100%;
    height: 100%;
    position: relative;
    border-top: .5px solid white;
}
footer p{
    margin-top: 20px;
    font-size: .8rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
}

footer form input[type="email"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border-radius: 20px;
    border: none; 
}

footer form button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
}

footer form button:hover {
    background-color: #777;
}
footer .socials{
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* contact page */
#contact{
    position: relative;
    width: 100%;
    height: 100%;
}
#contact h1{
    margin:40px auto;
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.contact-details{
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: flex-start;
}
.details{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap:10px;

}
.details a,.details span{
font-size: 1rem;
font-family: 'Montserrat',sans-serif;
font-weight: 400;
margin:5px auto;
text-align: center;
}
.details i{
    margin:auto;
    color:#fbd672;
}
.contact-form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 10px;
}
.contact-left-holder,.contact-right-holder{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
}
.contact-right-holder form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap:10px;
}
.names{
    display: flex;
    justify-content: flex-start;
    gap:10px;
}
#firstname, #lastname{
    width:50%;
    flex-direction: row;
}
form input{
    height:40px;
    padding:.5rem;
}
form input[type="email"]{
    width:100%;
}
form textarea{
    height:200px;
    padding:.5rem;
}
form input::placeholder, textarea::placeholder{
    font-size:.8rem;
    font-family: 'Montserrat',sans-serif;
}

/*work test*/
.dropdown {
    position: relative;
    display: inline-block;
    color:white;
    cursor: pointer;
    background:rgba(0,0,0,.9);
    width:150px;
    border-radius: 30px;
    padding:.5rem 0;
  }
  .dropdown span{
    display: grid;
    place-items: center;
  }
  .dropdown i{
    display: grid;
    place-items: center;
  }
  .work-holder-new{
    margin-top: 100px;
    width:100%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 100px;
    /* cursor: pointer; */
  }
  .dropdown-content p:hover{
    border-right:1px solid white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    padding:1rem;
  }
  .full-cv{
    position: fixed;
    right:1%;
    bottom:55%;
  }
.cta{
    position: fixed;
    left:-110px;
    bottom:20%;
    width:150px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background: white;
    transition: .3s ease;
    z-index: 11;
}
.cta button,.cta a {
    height: 100%;
    width:35%;
    border-radius: 0;
    display: grid;
    place-items: center;
    background:white;
    transition: .3s ease;
}


.cta button i,.cta a i{
    font-size: 1.5rem;
    color:black;
}
.cta a i{
    color:green;
}
.cta.active{
    left:-45px;
}

.cta.active > button{
    transform: rotateY(180deg);
}
.theatre-holder,.dance-holder,.film-holder{
    display: none;

}
.theatre-holder.active,.dance-holder.active,.film-holder.active{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.theatre-holder .work,.film-holder .work{
    grid-template-columns: repeat(3,1fr);
    width:100%;
    padding:0.5rem;
}
.work-holder-new h3{
    margin:30px auto;
}
.work-holder-new .work{
    border-top :1px solid rgba(100,100,100,1);
    border-bottom:1px solid rgba(100,100,100,1);
}
.dance-holder .work{
    grid-template-columns: repeat(2,1fr);
    width:100%;
    padding:0.5rem;
}
.work-holder-new .heads{
    color:white;
}
.work-holder-new .heads{
    grid-template-columns: repeat(3,1fr);
}
.work-holder-new .dance-holder .heads{
    grid-template-columns: repeat(2,1fr);
}
/* .work-holder-new .work .title{
    font-size:2rem;
} */
/* Work page */
#work h1{
    margin:50px auto;
}
#work h2{
    /* text-align: center; */
}
#work{
    height: 100%;
    width: 100%;
}
#work h3 , #work h4 {
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}
.theatre ,.dance ,.film {
    margin:50px auto;
}
.work,.heads{
    border-top:1px solid rgb(150,150,150);
    /* border-bottom:1px solid rgb(150,150,150); */
    display: grid;
    place-items:center;
    gap:10px;
    grid-template-columns: repeat(4,1fr);
}
.dance .work,.dance .heads{
    border-top:1px solid rgb(150,150,150);
    /* border-bottom:1px solid rgb(150,150,150); */
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.heads.hide{
    display: none;
}
.work.flex,.dance.flex{
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.work h3{
    color:#fbd672;
}
.title{
font-size:1.5rem;
}
.director > *, .choreo > *, .film-director > *{
    font-weight: 400;
    font-style: italic;
}
/* .work.flex > .director > * , .work.flex > .choreo > *{
    font-weight: 300;
    font-style: italic;
} */
.theatre.grid,.dance.grid,.film.grid{
    display: grid;
    place-items:center;
    grid-template-columns: repeat(2,1fr);
}
.work{
    padding:1.5rem 0;
}
.heads h5{
    font-size:1rem;
    /* margin:auto 1.5%; */
    padding:1rem 0;
    
}

/* Bio page */
#bio {
    width: 100%;
    height: 100%;
    margin:50px auto;
}
#biography h1{
    display: block;
    width: 100%;
}
.glow{
    transition: .3s ease;
}
.glow:hover{
    animation: glow infinite alternate ease 1s;
    cursor: crosshair;
}
.bio-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin:100px auto;
    position: relative;
    z-index: 1;
}
#bio .left-holder,#bio .right-holder{
    display: grid;
    place-items: center;
    text-align: center;
    margin:20px auto;
}
#bio img{
    
    width:200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    
    transition: all .3s ease;
}
/* #bio img:hover{
    transform: scale(1.05);
    filter: drop-shadow(0px 15px 14px white);
} */
.bio-wrapper h3{
    color:#fbd672;
}
.bio-wrapper p{
width: 80%;
text-align: center;
line-height: 1.5;
margin: 10px auto;
}
#education{
    height: 100%;
}
#education p{
    font-family: 'Montserrat',sans-serif;
    line-height: 1.5;
    margin:20px auto;
}

/*theatre page */
#theatre{
    width: 100%;
    height: 100%;
    margin:50px auto;  
}

.theatre-portfolio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.theatre-show{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.theatre-left{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-self: flex-start;
}
.theatre-left h3{
    font-size:1.5rem;
    color:#fbd672;
}
.theatre-right{
    width: 100%;
    height: 100%;
    display: grid;
    place-items:center ;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
.theatre-right img{
    width: 200px;
    height: 120px;
    transition: .3s ease;
    border: 1px solid rgba(10, 10, 10, 1);
    cursor: pointer;
    object-fit: cover;
    box-shadow: 1px 1px .5rem black;
}
.theatre-right img:hover{
    scale: 1.05;
    border:1px solid rgba(190,190,190,1);
}
#theatre .lightbox-img-holder{
    width: 85%;
    height: 100%;
    position: relative;
    bottom:25px;
}
@keyframes glow {
    0%{
        text-shadow: 0px 5px 1rem transparent;
    }
    100%{
        text-shadow: 0px 5px 1rem yellow;
    }
}
@keyframes colour{
    0%{
        filter:grayscale(1)   blur(10px) brightness(0);
    }
    100%{
        filter: grayscale(.7) blur(0) brightness(1);
    }
}